* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    background-color: blueviolet;
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

header
 {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
 }

 section {
    float: right;
    padding: 20px;
    width: 63.5%;
    background-color: #f1f1f1;
    height: 300px;
 }
#Paris {
    background-color: brown;
}

p.pstyle {
    color: chocolate;
    text-align: center;
    font-weight: bolder;
}